.filter-popup {
  // .filter-popup__content
  &__content {
  }
  // .filter-popup__body
  &__body {
    position: relative;
    z-index: 99999 !important;
    // background-color: #006f6f;
    // height: 100%;
    // height: 500px;
    // min-height: 600px;
    border-radius: 10px;
    padding: 10px !important;
  }
  // .filter-popup__close
  &__close {
  }
  // .filter-popup__header
  &__header {
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 15px;
  }
  // .filter-popup__form
  &__form {
    form {
      display: flex;
      flex-direction: column;
    }
    input {
      border: 1px solid #000;
    }
  }
}

.form-filter {
  // .form-filter__form
  &__form {
    display: flex;
    // flex-direction: row !important;
    justify-content: space-between;
  }
  &__main {
    gap: 10px;
    display: flex;

    width: 100%;
    height: 100%;
    // background-color: tomato;
  }
  // .form-filter__item
  &__column {
    height: 100%;
    flex: 0 1 32%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    &_left {
      flex: 1 0 170px;
    }
    &_center {
      flex: 1 0 250px;
    }
    &_right {
      flex: 1 0 250px;
    }
  }
  &__item {
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    &_header {
      font-weight: 700;
      margin-bottom: 20px;
      opacity: 0.9;
    }
  }
}
.filter-form-country {
  // max-height: 50%;
  // overflow-y: scroll;
  // overscroll-behavior-y: contain;
  &__header {
  }
  &__body {
  }
}
.filter-form-type {
  &__header {
  }
  &__body {
    max-height: 250px;
    overflow-y: auto;
  }
}
.filter-form-duration {
  // height: 50%;
  &__header {
  }
  &__body {
    max-height: 250px;
    overflow-y: auto;
  }
}
.filter-form-price {
  &__header {
  }
  &__body {
  }
}
.filter-form-transport {
  &__header {
  }
  &__body {
  }
  &__item {
    margin-bottom: 10px;
    .custom-radio__label {
      // display: flex;
      span {
        float: right;
      }
    }
  }
}
.filter-form-date {
  &__header {
  }
  &__body {
  }
}
.filter-form-branded {
  border: none;
}

.selected {
  // background-color: tomato;
}

.filter-form-type {
  // .filter-form-type__list
  &__list {
  }
  // .filter-form-type__item
  &__item {
  }
}
.item-filter-type {
  // padding-top: 10px;
  margin-top: 10px;
  // margin-bottom: 10px;
  position: relative;

  span {
    padding-right: 10px;
    font-weight: 400;
    float: right;
  }
}

.form-filter {
  // .form-filter__item
  &__item {
    // .form-filter__item_header
    &_header {
    }
  }
}
.filter-form-duration {
  // .filter-form-duration__header
  &__header {
  }
  // .filter-form-duration__body
  &__body {
  }
  // .filter-form-duration__list
  &__list {
  }
  // .filter-form-duration__item
  &__item {
    margin-bottom: 10px;
  }
}
.item-filter-duration {
}

.form-filter {
  // .form-filter__item
  &__item {
    // .form-filter__item_header
    &_header {
    }
  }
}
.filter-form-price {
  // .filter-form-price__header
  &__header {
    margin-bottom: 50px;
  }
  // .filter-form-price__body
  &__body {
  }
}
.price-filter {
  // .price-filter__range
  &__range {
    margin-bottom: 20px;
  }
  &__reset {
    margin: 0px auto;
    background-color: $colorBlue;
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 50%;
  }
  &__actions {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    input {
      width: 100px;
      padding: 5px;
    }
  }
}
