.search-block {
  background-color: #ECE3DB;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 220px;
  &__container {
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000000;
    // opacity: 0.9;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    height: 55px;
    > div {
      display: flex;
      align-items: center;
      height: 100%;
      input {
        height: 100%;
        border: 1px solid #000;
        font-weight: bold;
        font-size: 15px;
        line-height: 100%;

        text-transform: uppercase;
        border-radius: 2px;
        padding: 0 20px;
      }
      select {
        border: 1px solid #000;
        font-weight: bold;
        font-size: 15px;
        line-height: 100%;

        text-transform: uppercase;
      }
    }
  }
  .choices {
    width: 170px;
    font-weight: bold;
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 2px;
    height: 100%;
    &__inner {
      height: 100%;
      display: flex;
      align-items: center;
      border: none;
    }
    &__input {
    }
    &__placeholder {
      color: #000;
    }
    &__item--selectable {
      padding-right: 0px !important;
      color: #000;
    }
  }
}

.qs-datepicker-container {
  background-color: #fff;
  border: 1px solid $colorRed;
  width: 100%;
  margin: 0;
  font-weight: 400;
  padding: 0;
  // margin-top: 5px;
  &:before,
  &:after {
    content: '';
    background-image: none;
  }

  .qs-num {
    color: #000;
  }
  .qs-controls {
    height: 40px;
    background-color: $colorRed;
    .qs-month-year {
      font-weight: 400;
    }
    .qs-arrow {
      &:before {
        // content: '';
      }
    }
  }
  .qs-datepicker .qs-arrow.qs-left:after {
    border-right-color: #fff;
  }
  .qs-datepicker .qs-arrow.qs-right:after {
    border-left-color: #fff;
  }
  .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
    background: $colorRed;
    // color: #fff;
    // color: tomato;
  }
  .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover
    span {
    // background: $colorRed;
    color: #fff;
  }
  .qs-current span {
    color: $colorRed;
  }
}
