.search-block {
  background-color: rgba(223, 223, 223, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 220px;
  &__container {
    width: 100%;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    height: 55px;
    > div {
      display: flex;
      align-items: center;
      height: 100%;
      input {
        height: 100%;
        border: 1px solid #000000;
        border-radius: 2px;
        padding: 0 20px;
      }
      select {
        border: 1px solid #000;
      }
    }
  }
  .choices {
    width: 170px;
    font-weight: 400;
    height: 100%;
    border: 1px solid #000;
    border-radius: 2px;
    &__inner {
      height: 100%;
      display: flex;
      align-items: center;
      border: none;
    }
    &__placeholder {
      color: #000;
    }
    &__item--selectable {
      // background-color: tomato;
      padding-right: 0px !important;
      color: #000;
    }
  }

  // // *************
  // .search-block {
  //   // .search-block__container
  //   &__container {
  //   }
  // }

  // .search-form {
  //   .select__title {
  //   }
  //   .select__title {
  //   }
  //   .select__value {
  //     height: 55px;
  //   }
  //   .select__options {
  //     top: 100%;
  //     padding: 0;
  //     :first-child {
  //       // background-color: tomato;
  //     }
  //   }
  //   .select__option {
  //     padding: 10px 15px;
  //   }

  //   .select {
  //     &__item {
  //       // height: 55px;
  //       // background-color: #7a956d !important;
  //       min-width: 170px;
  //     }
  //     // height: 100%;
  //     // display: flex;
  //     // align-items: center;

  //     &__title {
  //       // height: 55px;
  //       // display: flex;
  //       // justify-content: space-between;
  //       // align-items: center;
  //       // width: 100%;
  //     }
  //     .select__value {
  //       // display: flex;
  //       // justify-content: space-between;
  //     }
  //   }
  //   // .search-form__search
  //   &__search {
  //     width: 326px;
  //     input {
  //       height: 100%;
  //     }
  //   }
  //   // .search-form__direction
  //   &__direction {
  //     .select {
  //       // background-color: tomato;
  //     }
  //     .form {
  //     }
  //   }
  //   // .search-form__date
  //   &__date {
  //   }
  //   // .search-form__transport
  //   &__transport {
  //   }
  //   // .search-form__button
  //   &__button {
  //     .btn {
  //       // background-color: tomato;
  //       height: 100%;
  //     }
  //   }
  // }
  // .input {
  // }
  // .form {
  // }

  // #searchDate {
  //   height: 100%;
  //   padding: 15px;
  // }
}
