.tour-list-block__top {
  padding: 200px 0;
  // background-color: #7a956d;
  display: flex;
  justify-content: space-between;
}

.tour-list-block__container {
  // background-color: tomato;
}

.list-tour__filter {
  // background-color: #ccc;
  height: 55px;
  // margin-bottom: 20px;
  text-align: right;
}
#changeViewButton {
  height: 100%;
  padding: 15px;
  background-color: #333;
  color: #fff;
}
.item-tour {
  font-size: 13px;
  font-weight: 400;
  // padding: 10px;
  display: grid;
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  gap: 10px;

  & > div {
    // border: 1px solid #ccc;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}
.item-tour_list {
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 2fr 2fr 40px;
  grid-auto-flow: row;
  grid-template-areas:
    'title title title title'
    'image image labels price'
    'image image info price'
    'image image date buttons'
    'flags flags icons reviews';
}

.item-tour_grid {
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: 50px 4fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  grid-template-areas:
    'title title'
    'image image'
    'date price'
    'date info'
    'flags flags'
    'icons reviews'
    'buttons buttons';
  // 'labels labels';
}
.tour-list_list {
  // transition: all 2s ease 0s;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}
.tour-list_grid {
  // transition: all 2s ease 0s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
/* ***************** */
.tour-list__image {
  grid-area: image;

  // min-width: 400px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.tour-list__flags {
  grid-area: flags;
}
.tour-list__icons {
  grid-area: icons;
}
.tour-list__price {
  grid-area: price;
}
.tour-list__buttons {
  grid-area: buttons;
}
.tour-list__labels {
  grid-area: labels;
}
.tour-list__date {
  grid-area: date;
}
.tour-list__info {
  grid-area: info;
}
.tour-list__title {
  grid-area: title;
}
.tour-list__reviews {
  grid-area: reviews;
}
.tour-labels {
  font-size: 11px;
  // padding: 10px;
  display: flex;
  align-items: start;
  gap: 5px;
  &__item {
    padding: 5px;
    border: 1px solid #000;
  }
}
.tour-info {
}
.tour-list {
  // .tour-list__item
  &__item {
  }
  // .tour-list__title
  &__title {
  }
  // .tour-list__image
  &__image {
  }
  // .tour-list__flags
  &__flags {
  }
  // .tour-list__icons
  &__icons {
  }
  // .tour-list__info
  &__info {
  }
  // .tour-list__price
  &__price {
  }
  // .tour-list__buttons
  &__buttons {
  }
  // .tour-list__labels
  &__labels {
  }
  // .tour-list__reviews
  &__reviews {
  }
  // .tour-list__date
  &__date {
  }
}
.item-tour {
  // .item-tour_list
  position: relative;
  s &_list {
  }
}
.tour-flags {
  display: flex;
  // justify-content: center;
  align-items: center;
  // .tour-flags__countries
  &__countries {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  // .tour-flags__flag
  &__flag {
  }
  // .tour-flags__cities
  &__cities {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
  }
}
.tour-info {
  // .tour-info__duration
  &__duration {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    // .tour-info__duration_value
    &_value {
      margin-bottom: 20px;
    }
  }
  // .tour-info__group
  &__group {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    // .tour-info__group_value
    &_value {
    }
  }
}
.tour-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // align-items: center;
  // .tour-price__main
  &__main {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  // .tour-price__currency
  &__currency {
    font-size: 20px;
    margin-bottom: 10px;
  }
  // .tour-price__description
  &__description {
    font-size: 11px;
    line-height: 140%;
    margin-bottom: 28px;
    span {
    }
  }
}
.tour-buttons {
  // .tour-buttons__reserve
  &__reserve {
    margin-bottom: 15px;
  }
  // .tour-buttons__details
  &__details {
  }
}
.tour-labels {
  // .tour-labels__item
  &__item {
    // background-color: #fff;
  }
}
.color-red {
}
.tour-reviews {
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  i {
    font-size: 17px;
  }
  // .tour-reviews__rev
  &__rev {
    display: flex;
    align-items: center;
    // margin: 0 5px;
    // padding: 0 5px;
    gap: 5px;
  }
  // .tour-reviews__value
  &__value {
    // margin-left: 5px;
    font-size: 15px;
    font-weight: 700;
  }
  // .tour-reviews__stars
  &__stars {
    display: flex;
    align-items: center;
    line-height: 17px;
    margin-left: 17.5px;
  }
}
.tour-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // .tour-date__title
  &__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  // .tour-date__body
  &__body {
  }
  // .tour-date__value
  &__value {
    margin-bottom: 10px;
  }
  // .tour-date__viewall
  &__viewall {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.75);
  }
}
.tour-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  a {
    padding: 5px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 26px;
  }
}

.tour-list-block__bottom {
  margin: 75px 0 196px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  button {
    text-transform: uppercase;
    font-weight: 700;
  }
  a {
    display: flex;
    color: rgba(0, 0, 0, 0.9);
    align-items: center;
    transition: all 0.8s ease 0s;
  }
}

.tour-list_grid {
  .item-tour_grid {
  }
  .tour-labels {
    // font-size: 11px;
    // padding: 10px;
    // display: flex;
    // align-items: start;
    // gap: 5px;

    &__item {
      padding: 5px;
      border: 1px solid #000;
    }
    .color-red {
      background-color: $colorRed;
      color: #fff;
      border: 1px solid $colorRed;
    }
  }
  .tour-info {
  }

  .item-tour {
    // position: relative;

    // .item-tour_list
    &_list {
    }
  }
  .tour-flags {
    display: flex;
    // justify-content: center;
    align-items: center;
    // .tour-flags__countries
    &__countries {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    // .tour-flags__flag
    &__flag {
    }
    // .tour-flags__cities
    &__cities {
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .tour-info {
    // .tour-info__duration
    &__duration {
      margin-bottom: 10px;

      // .tour-info__duration_value
      &_value {
        margin-bottom: 20px;
      }
    }
    // .tour-info__group
    &__group {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
      // .tour-info__group_value
      &_value {
      }
    }
  }
  .tour-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // align-items: center;
    // .tour-price__main
    &__main {
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 10px;
      span {
        font-size: 25px;
      }
    }
    // .tour-price__currency
    &__currency {
      font-size: 20px;
      margin-bottom: 10px;
    }
    // .tour-price__description
    &__description {
      font-size: 11px;
      line-height: 140%;
      margin-bottom: 28px;
      span {
      }
    }
  }
  .tour-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    // .tour-buttons__reserve
    &__reserve {
      margin-bottom: 0;
      // width: 100%;
    }
    // .tour-buttons__details
    &__details {
      // width: 100%;
    }
  }
  .tour-labels {
    position: absolute;
    top: 65px;
    left: 35px;
    border-radius: 2px;
    // position: absolute;
    // top: 50px;
    // left: 0;

    // .tour-labels__item
    &__item {
    }
  }

  .tour-reviews {
    color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    i {
      font-size: 17px;
    }
    // .tour-reviews__rev
    &__rev {
      display: flex;
      align-items: center;
      // margin: 0 5px;
      // padding: 0 5px;
      gap: 5px;
    }
    // .tour-reviews__value
    &__value {
      // margin-left: 5px;
      font-size: 15px;
      font-weight: 700;
    }
    // .tour-reviews__stars
    &__stars {
      display: flex;
      align-items: center;
      line-height: 17px;
      margin-left: 17.5px;
    }
  }
  .tour-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // .tour-date__title
    &__title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    // .tour-date__body
    &__body {
    }
    // .tour-date__value
    &__value {
      margin-bottom: 10px;
    }
    // .tour-date__viewall
    &__viewall {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px;
      color: rgba(0, 0, 0, 0.75);
    }
  }

  .tour-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    a {
      padding: 5px;
      color: rgba(0, 0, 0, 0.8);
      font-size: 26px;
    }
  }
}

.item-tour_grid {
  // background-color: #7a956d;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  .tour-labels {
  }
  .tour-labels__item {
    background-color: #fff;
  }
}
