.tours-types-block {
  margin-bottom: 100px;

  // .tours-types-block__container
  &__container {
  }
  // .tours-types-block__list
  &__list {
    a {
      color: #000;
    }
  }
}

.list-types {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 78px;
  padding: 0 70px;
  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 40px;
    // gap: 50px;
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 27px;
    gap: 40px;
  }
  // .list-types__item
  &__item {
  }
}
.item-types {
  text-align: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    img {
      padding: 10px;
      width: 55px;
      height: 55px;
      // object-fit: contain;
      border: 1px solid #000;
      border-radius: 50%;
    }
    span {
      font-size: 15px;
      line-height: 100%;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
