//====================================================================================================

.header {
  filter: drop-shadow(2px 2px 20px rgba(65, 26, 26, 0.1));

  box-shadow: 2px 2px 20px rgba(65, 26, 26, 0.1);
  // .header__top
  &__top {
  }
}
.top-header {
  min-height: 30px;
  background-color: $colorRed;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 11px;
  position: relative;

  @media (max-width: 768px) {
    margin-bottom: 20px;
    justify-content: center;
  }
  a {
    color: #fff;
  }
  // .top-header__container
  &__container {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  // .top-header__left
  &__left {
    display: flex;
    gap: 30px;

    @media (max-width: 992px) {
      gap: 10px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      width: 50%;
      gap: 15px;
    }
  }
  // .top-header__center
  &__center {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    // color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__usd {
    padding-right: 10px;
  }
  &__eur {
    padding-left: 10px;
  }
  // .top-header__currency
  &__currency {
  }
  // .top-header__date
  &__date {
    display: flex;
    gap: 5px;
  }
  // .top-header__lang
  &__lang {
  }
  // .top-header__right
  &__right {
  }
}

.header {
  // .header__bottom
  &__bottom {
    height: 90px;
    @media (max-width: 768px) {
      height: 0;
    }

    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  // .header__logo
  &__logo {
  }

  // .header__menu
  &__menu {
  }
  .login {
    display: flex;
    align-items: center;
    font-size: 11px;
    width: 60px;
    i {
      font-size: 20px;
      margin-right: 7px;
    }
  }
}
.header-center__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    // padding: 20px 0;
    margin-bottom: 25px;
  }
  a {
    color: #000;
  }
}
.botton-header {
  // .botton-header__container
  &__container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.bottom-header {
  height: 90px;

  // .bottom-header__left
  &__left {
    display: flex;
    align-items: center;
    height: 100%;
  }
  // .bottom-header__center
  &__center {
    flex-grow: 1;
  }
  // .bottom-header__right
  &__right {
    display: flex;
    align-items: center;
    gap: 35px;
    @include adaptiv-value('gap', 35, 2, 1);
    @media (max-width: 992px) {
      gap: 10px;
    }
    a {
      color: #000;
    }
    .login {
      display: flex;
      align-items: center;
      font-size: 11px;
      i {
        font-size: 20px;
        margin-right: 7px;
      }
    }
  }
}
.menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  // .menu__icon
  &__icon {
  }
  // .menu__body
  &__body {
    padding: 0 50px;
    width: 100%;
    @media (max-width: 992px) {
      padding: 0 15px;
    }
    @media (max-width: 768px) {
      padding: 0;
    }
  }
  // .menu__list
  &__list {
    display: flex;
    justify-content: space-around;
    @media (max-width: 768px) {
      order: 0;
      flex-direction: column;
      gap: 15px;
      width: 50%;
    }
  }
  // .menu__item
  &__item {
    position: relative;
  }
  // .menu__link
  &__link {
    font-size: 13px;
    color: #000;
    text-transform: uppercase;
  }
  .menu-tour-list {
    // display: none;
    position: absolute;

    a {
      color: inherit;
      font-size: 13px;
      text-transform: uppercase;
    }
  }
}
.icon-menu {
}
.main-burger {
  position: relative;
  height: 25px;
  width: 35px;
  padding: 5px;

  @media (max-width: 768px) {
    width: 60px;
  }

  &:before {
    position: absolute;
    top: 6px;
    left: 0;
    content: '';
    width: 35px;
    height: 2px;
    background: #000;
  }
  &:after {
    position: absolute;
    bottom: 6px;
    left: 0;
    content: '';
    width: 35px;
    height: 2px;
    background: #000;
  }
}

//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.bottom-header__right {
  position: relative;
  height: 100%;
}

.main-burger-body {
  // box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border: 1px solid #c9c9c9;
  font-size: 13px;
  text-transform: uppercase;

  position: absolute;
  padding: 45px;
  top: 100%;
  right: 0;
  min-width: 175px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.5s ease 0s;
  z-index: 3;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100vw;
    margin-right: -15px;
    padding: 10px;
  }
  .main-burger-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (max-width: 768px) {
      order: 1;
    }
  }
}
.main-burger-top {
  @media (max-width: 768px) {
    display: flex;
    text-transform: uppercase;
  }
}
.main-burger-bottom {
  @media (max-width: 768px) {
    position: relative;
    font-size: 11px;
    padding: 20px 0px;
    display: flex;
    span {
      // display: block;
    }

    &:before {
      position: absolute;
      top: 0;
      left: -10px;
      content: '';
      width: 100vw;
      height: 1px;
      opacity: 0.2;
      background-color: #000;
    }
  }
}
.main-burger-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* MENU COUNTRY */
.menu-country-list {
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
  padding: 100px 125px 0 280px;
  height: 100vh;
  @include adaptiv-value('padding-left', 280, 20, 0);
  @include adaptiv-value('padding-right', 125, 20, 0);
  z-index: 1;
  background-color: #fff;
  top: -100%;
  position: fixed;
  left: 0;
  transition: all 0.8s ease 0s;

  // display: none;
  &._active {
    visibility: visible;
    opacity: 1;
    top: 0;
    // position: fixed;
  }

  .menu-country-close {
    font-size: 36px;
    background-image: url(../img/close-btn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50px;
    right: 125px;
    cursor: pointer;
    display: inline-block;
  }
}

.menu-country-list {
}
.menu-country-close {
}
.menu-country-body {
  font-size: 11px;
  text-transform: uppercase;
}
.country-menu {
  display: flex;
  justify-content: center;

  // .country-menu__block
  &__block {
    width: 33%;
    position: relative;
    &:not(:last-of-type) {
      &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100vh;
        background-color: #c9c9c9;
        top: -100px;
        right: 0;
      }
    }
  }
  // .country-menu__continent
  &__continent {
    &:not(:last-of-type) {
      position: relative;
      margin-bottom: 20px;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -15px;
        left: 0;
        background-color: #c9c9c9;
      }
    }
  }
}
.menu-continent {
  // .menu-continent__title
  &__title {
    font-size: 15px;
    margin-bottom: 20px;
    // padding-left: 55px;
    @include adaptiv-value('padding-left', 55, 15, 0);
    @include adaptiv-value('padding-right', 35, 15, 0);
    // padding-right: 35px;
  }
  // .menu-continent__list
  &__list {
    // padding-left: 55px;
    // padding-right: 35px;

    @include adaptiv-value('padding-left', 55, 15, 0);
    @include adaptiv-value('padding-right', 35, 15, 0);

    display: flex;
    // justify-content: space-between;
    // gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
  // .menu-continent__item
  &__item {
    display: flex;
    // width: 40%;
    flex: 0 0 50%;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
    padding: 0 5px;
  }
}

/* Tour menu */
.menu-tour-list {
  // box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  // font-size: 13px;
  // position: absolute;
  // top: 50px;
  // left: 0;
  // min-width: 175px;
  // padding: 45px 40px;
  // background-color: #fff;
  // opacity: 0;
  // visibility: hidden;
  // transform: translateY(-20px);
  // transition: all 0.5s ease 0s;
  // z-index: 3;
  // display: flex;
  // flex-direction: column;
  // gap: 10px;
}
.menu-tour-active {
  // opacity: 1;
  // visibility: visible;
  // transform: translateY(0);
  // @media (max-width: 768px) {
  //   position: relative;
  // }
}

.sub-menu {
  // box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border: 1px solid #c9c9c9;
  font-size: 13px;
  position: absolute;
  top: 53px;
  left: 0;
  min-width: 150px;
  padding: 25px 25px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.5s ease 0s;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    color: inherit;
    text-transform: uppercase;
  }
}
.submenu-link {
  // background-color: tomato;
  padding-right: 20px;
  position: relative;

  &:before {
    content: '';
    background-image: url(../img/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 4px;
    z-index: 0;
    // transform: translateY(-50%);
  }
}
.menu-info-body {
  left: auto;
  right: 100%;
  transform: translateX(20px);
  z-index: 5;
}

._active-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
@media (min-width: 768px) {
  .menu-info-link {
    &:before {
      content: '';
      display: none;
    }
  }
}

._menu-active-link {
  &:before {
    content: '';
    transform: rotate(180deg);
    top: auto;
    bottom: 4px;
  }
}
.temp {
  background-color: tomato;
}
