@use 'sass:math';

$colorRed: #990000;
$colorBlue: #0093dd;
$colorGreen: #71ab1c;
$colorBeige: #ece3db;
$colorOrange: #faa619;

$colorDarkGrey: #272727;

$randColor: rgb(random(255), random(255), random(255));

//<МИКСИНЫ>===============================================================================================
@import 'mixins';
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import 'fonts';
// @import url('https://fonts.googleapis.com/css?family=Raleway:regular,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
// @import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext');
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import 'icons';
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
// $fontFamily: 'Roboto';
$fontFamily: 'raleway';
$fontSize: 16;

//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1230;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import 'null';
html {
  scroll-behavior: smooth;
}
body {
  color: $mainColor;
  font-weight: 700;

  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  padding: 0 15px;
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  // @media (max-width: $md1 + px) {
  //   max-width: 970px;
  // }
  // @media (max-width: $md2+px) {
  //   max-width: 750px;
  // }
  // @media (max-width: $md3+px) {
  //   max-width: none;
  //   padding: 0 10px;
  // }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import 'forms';
@import 'ui';
@import 'fancybox';
// @import 'debug';

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
// @import 'choices.min';
// @import 'flatpickr';
@import 'preloader';
@import 'datepicker';
//@import "lightgallery";
//@import "pagging";
@import 'main-slider';
@import 'search-block';
@import 'tour-list';
@import 'hot-offer-block';
@import 'photo-slider';
@import 'news-block';
@import 'reviews-slider-block';
@import 'tours-types-block';

// @import 'tour-single';

@import 'seo-block';
@import 'popup';
@import 'header2';
// @import 'header';
@import 'footer';
@import 'home';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

// img:not([alt]) {
//   border: 3px dashed red;
// }
// img[alt=''] {
//   border: 3px dashed red;
// }

.scroll-hidden {
  overflow: hidden;
}
